.container {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}

.wrapper{
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 2rem 0;
}

.nav  {
  a {
    text-decoration: none;
    color: #27272a;
    font-size: 15px;
    border: none;
    background: #f36565;
  
    text-transform: uppercase;
  
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
  
    font-family: Sora, sans-serif;
    font-size: 1.7rem;
    transition: filter 0.4s ease;
  
    cursor: pointer;

    &:nth-child(2) {
      background-color: #38bdf8;
    }
  
    &:hover {
      filter: brightness(0.8)
    }
  }  
}

