.container {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}

.wrapper{
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 2rem 0;
}

.nav  {
  a {
    text-decoration: none;
    color: #27272a;
    font-size: 15px;
  
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
  
    font-family: Sora, sans-serif;
    font-size: 1.5rem;
    transition: filter 0.4s ease;
  
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }  
}

.signout {
  background-color: transparent;
  border: none;

  color: #f36565;
  font-size: 1.7rem;

  padding: .5rem 1rem;

  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
}

