.container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;

  ul li {
    color: var(--gray-200);
    margin-top: 1.5rem;
  }

  ol li {
    color: var(--gray-200);
    margin-top: 1.5rem;
  }

  h1 {
    color: var(--gray-200);
  }

  p {
    color: var(--gray-200);
    margin-top: 1rem;
  }
}

.wrapper {
  margin-top: 5rem;
  hr {
    margin: 3rem 0;
    border: none;
    height: 1px;
    background-color: var(--zinc-700);
  }
}
